extends ../layout
block body
	div(class="container", id="cancer-annotations")
		- cancer = cancer.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
		h1 #{cancer} mutation annotations

		table(class="table table-condensed table-hover", id="cancer-annotation-table")
			thead
				tr(style="background:#e3e3e3")
					th Gene
					th Mutation Class
					th Support
			tbody
				-for (var i = 0; i < annotations.length; i++)
					-var A = annotations[i];
					tr
						td #{A.gene}
						td #{A.mutation_class}
						td
							-for (var j = 0; j < A.support.length; j++)
								a(href="http://www.ncbi.nlm.nih.gov/pubmed/#{A.support[j]}", target="_new") #{A.support[j]}

		//- Load the required scripts
		script(src='/components/jquery/dist/jquery.min.js').
		script(src='/components/DataTables/media/js/jquery.dataTables.js').
		script(src='/js/dataTableWrapper.js').
		script(type='text/javascript').
			//- Make the gene annotation table sortable as a DataTable
			$(document).ready(function(){
				addDataTable({
					tableID: "#cancer-annotation-table",
					aaSorting: [[0, "asc"]],
					aoColumns: [{ "asSorting": [ "asc", "desc" ] }, { "asSorting": [ "asc", "desc" ] }, null  ]
				});
			});
