extends ../layout
block body
  div(class="container")
    h1(style='margin-top:20px')
      | Datasets&nbsp;
      small Click a dataset's name to view a summary of its mutations.
    -var seenPublic = false;
    -var seenUser = false;
    -for (var i in groupClasses)
      -var groups = groupClasses[i].groups;
      //- Create a horizontal break if this is the first public/user dataset
      -if (groupClasses[i].ty == "public" && !seenPublic)
        - seenPublic = true;
        hr
        h4 Provided datasets
      -if (groupClasses[i].ty == "user" && !seenUser)
        - seenUser = true;
        hr
        h4 Your datasets
        a(href="/upload", style="float:right") Upload a new dataset.
      table(class="table table-bordered table-condensed")
        tr(class="odd")
          th Group
          th Name
          th Number of samples
          th Color
          th Created on
          th Last updated
          -if (!seenPublic)
            th Remove
        -for(var j = 0; j < groups.length; j++)
          -var group = groups[j];
          -var rowClass = j % 2 == 0 ? 'even' : 'odd';
          -for (var k in group.dbs)
            -var db = group.dbs[k];
            tr(class="#{ rowClass }")
              td
                - if (k == 0)
                  -if (group.name == "")
                    | Other
                  -else
                    | #{group.name}
              td
                a(href="/datasets/view/#{ db._id }") #{db.title}
              td #{db.num_samples}
              td(style="background:#{db.color};width:20px;height:20px;", title="#{db.color}")
              td #{ moment(db.created_at).format("MM/DD/YYYY") }
              td #{ moment(db.updated_at).fromNow() }
              -if (!seenPublic)
                td
                  a(href="/delete/dataset?did=#{db._id}", title="Remove dataset")
                    span(class="glyphicon glyphicon-trash")
