extends layout
block body
  br
  div(class="container")
    h3
      | Your account. &nbsp;
      small Manage your settings and uploaded datasets here.
    hr
    h4 Account information
    b Name: &nbsp;
    | #{user.name}
    br
    b Email: &nbsp;
    | #{user.email}
    br
    br

    - if (groups.length != 0)
      b Datasets
      a(href="/upload", style="float:right") Upload a new dataset.
      table(class="table table-bordered table-condensed")
        tr(class="odd")
          th Group
          th Name
          th Number of samples
          th Color
          th Created on
          th Last updated
          th Remove
        -for(var i = 0; i < groups.length; i++)
          -var group = groups[i];
          -var rowClass = i % 2 == 0 ? 'even' : 'odd';
          -for (var j in group.dbs)
            -var db = group.dbs[j];
            tr(class="#{ rowClass }")
              td
                - if (j == 0)
                  | #{group.name}
              td #{db.title}
              td #{db.num_samples}
              td(style="background:#{db.color};width:20px;height:20px;", title="#{db.color}")
              td #{ moment(db.created_at).format("MM/DD/YYYY") }
              td #{ moment(db.updated_at).fromNow() }
              td
                a(href="/delete/dataset?did=#{db._id}", title="Remove dataset")
                  span(class="glyphicon glyphicon-trash")
    - else
      | You have not uploaded any datasets. &nbsp;
      a(href="/upload") Upload your first dataset.
    hr
    br

    div(id="user-annotations")
      // todo: make DRY with annotations/gene.jade
      - var pubmedLink = function (_id){
      - 		if (_id.toLowerCase().slice(0, 3) == 'pmc'){
      - 			var href = 'http://www.ncbi.nlm.nih.gov/pmc/articles/' + _id;
      -		} else{
      -			var href = 'http://www.ncbi.nlm.nih.gov/pubmed/' + _id;
      -		}
      -		return "<a href='" + href + "' target='_new'>" + _id + "</a>";
      -	}

      - var mutation_type = function(n){
      -		var n = n.toLowerCase();
      -		if (n == 'missense') return 'Missense';
      -		else if (n == 'nonsense') return 'Nonsense';
      -		else if (n == 'in_frame_del') return 'In-Frame Deletion';
      -		else if (n == 'in_frame_ins') return 'In-Frame Insertion';
      -		else if (n == 'frame_shift_ins') return 'Frame-Shift Insertion';
      -		else if (n == 'frame_shift_del') return 'Frame-Shift Deletion';
      -		else if (n == 'splice_site') return 'Splite-Site';
      -		else return n.charAt(0).toUpperCase() + n.slice(1);
      -	}

      - var mutation_class = function(n){
      -		var n = n.toLowerCase();
      -		if (n == 'snv') return 'Single Nucleotide Variant';
      -		else if (n == 'cna') return 'Copy Number Aberration';
      -		else if (n == 'amp') return 'Copy Number Aberration';
      -		else if (n == 'del') return 'Copy Number Aberration';
      -		else return n.charAt(0).toUpperCase() + n.slice(1);
      -	}
      - var cancerAbbr = function(cancer){
      -		if (cancer){
      -			var c = cancer.toLowerCase();
      -			if (typeof(abbrToCancer[c]) != 'undefined'){
      -				return "<abbr title='" + abbrToCancer[c] + "'>" + c.toUpperCase() + "</abbr>"
      -			} else if (typeof(cancerToAbbr[c]) != 'undefined') {
      -				var abbr = cancerToAbbr[c];
      -				return "<abbr title='" + abbrToCancer[abbr] + "'>" + abbr.toUpperCase() + "</abbr>"
      -			} else {
      -				return cancer;
      -			}
      -		} else {
      -			return "Cancer";
      -		}
      -	}

    - if (geneAnnos.length > 0) 
      h4 Your Mutation Annotations 
      // todo: DRY with gene.jade
      table(class="table table-condensed", id="gene-annotation-table")
        thead
          tr(style="background:#e3e3e3")
            th Gene
            th Associated cancer
            th Mutation class
            th Mutation type
            th Protein sequence change
            th PMID / PMCID
            th Source
            th Votes
        tbody
          -for (var i = 0; i < geneAnnos.length; i++)          
            - var d = geneAnnos[i];
            - var gene = d.gene
            - var cancer = cancerAbbr(d.cancer)
            - var mutationClass = d.mut_class ? d.mut_class : "--";
            - var mutationType = d.mut_type ? d.mut_type : "--";
            - var proteinSeqChange = d.protein_seq_change ? d.protein_seq_change : "--";
            - var numVotes = d.upvotes.length - d.downvotes.length;
            - var pmid_ref = d.reference
            - var downVoteClass = d.downvotes.indexOf(user_id) === -1 ? "" : "downvote-on";
            - var upVoteClass = d.upvotes.indexOf(user_id) === -1 ? "" : "upvote-on";
            tr
              td !{gene}
              td !{cancer}
              td #{mutation_class(mutationClass)}
              td #{mutation_type(mutationType)}
              td #{proteinSeqChange}
              td !{pubmedLink(pmid_ref)}
              td !{d.source}
              td
                span(id="vote-#{d.u_id}-#{pmid_ref}") #{numVotes}
    - else
      | You have not annotated any genes. &nbsp;

    hr
    br

    div(id="additional-info", style="width:60%")
      h4 Tell us about yourself
      br
      | We are interested in learning about our users. Please fill out the form below to tell us about yourself.&nbsp;
      | You can also leave feedback for us at anytime by following the link in the footer of each page.&nbsp;
      | We will not <a href="/privacy", target="_new">share your information with a third-party for any purpose</a>.
      br
      br
      form(method="post", action="/user/update", role="form", id="about-yourself-form")
        label Institution or Corporation
        input(type="text", placeholder="e.g. Brown University", class="form-control", id="institution", name="institution", value=(user.institution ? "#{user.institution}" : ""))
        br
        label Department or Lab
        input(type="text", placeholder="e.g. Computer Science Department", class="form-control", id="department", name="department", value=(user.department ? "#{user.department}" : ""))
        br
        label Type of researcher
        br
        select(class="form-control", name="researcherType", id="researcherType")
          option(value="") -- choose below --
          option(value="Bioinformatician", selected=(user.researcherType == "Bioinformatician" ? "selected" : undefined)) Bioinformatician
          option(value="Biologist", selected=(user.researcherType == "Biologist" ? "selected" : undefined)) Biologist
          option(value="Clinician", selected=(user.researcherType == "Clinician" ? "selected" : undefined)) Clinician
          option(value="Medical doctor", selected=(user.researcherType == "Medical doctor" ? "selected" : undefined)) Medical doctor
        br
        label Sign up for our newsletter
        input(type="checkbox", style="margin-left:10px", name="newsletter", id="newsletter", checked=(user.newsletter ? "checked" : undefined))
        br
        label Other
        textarea(class="form-control", name="other", id="other", placeholder="Any additional info you'd like to share.")
        br
        button(type="submit", id="submit", class="btn btn-default") Submit
  script(src='components/jquery/dist/jquery.min.js').
  script(src='js/account.js')
