extends layout
block body
  br
  div(class="container")
    h3
      | Your account. &nbsp;
      small Manage your settings, uploaded datasets and annotations here.
    hr
    h4 Account information
    b Name: &nbsp;
    | #{user.name}
    br
    b Email: &nbsp;
    | #{user.email}
    br
    br

    - if (groups.length != 0)
      b Datasets
      a(href="/upload", style="float:right") Upload a new dataset.
      table(class="table table-bordered table-condensed")
        tr(class="odd")
          th Group
          th Name
          th Number of samples
          th Color
          th Created on
          th Last updated
          th Remove
        -for(var i = 0; i < groups.length; i++)
          -var group = groups[i];
          -var rowClass = i % 2 == 0 ? 'even' : 'odd';
          -for (var j in group.dbs)
            -var db = group.dbs[j];
            tr(class="#{ rowClass }")
              td
                - if (j == 0)
                  | #{group.name}
              td #{db.title}
              td #{db.num_samples}
              td(style="background:#{db.color};width:20px;height:20px;", title="#{db.color}")
              td #{ moment(db.created_at).format("MM/DD/YYYY") }
              td #{ moment(db.updated_at).fromNow() }
              td
                a(href="/delete/dataset?did=#{db._id}", title="Remove dataset")
                  span(class="glyphicon glyphicon-trash")
    - else
      | You have not uploaded any datasets. &nbsp;
      a(href="/upload") Upload your first dataset.
    hr
    br

    div(id="user-annotations")
      // todo: make DRY with annotations/gene.jade

    - if (geneAnnos.length > 0)
      h4 Your Mutation Annotations
      - var annotations = geneAnnos;
      //- todo: DRY with gene.jade
      include ./annotations/gene-table.jade
      //- todo: add gene and trash column

    - else
      | You have not annotated any gene mutations. &nbsp;

    hr
    br
    div(id="div-ppis")
      - if (ppiAnnos.length > 0)
        h4 Your Interaction Annotations
        table(class="table table-condensed", id="gene-annotation-table")
          thead
            tr(style="background:#e3e3e3")
              th Source
              th Target
              th Type
              th Weight
              th Directed
              th Tissue
              th PMID / PMCID
              th Votes
              th Remove
          tbody
            -for (var i = 0; i < ppiAnnos.length; i++)
              - var d = ppiAnnos[i];
              - var uid = d.u_id;
              - var numVotes = d.upvotes.length - d.downvotes.length;
              - var type = d.type ? d.type : "--"
              - var weight = d.weight ? d.weight : "--"
              - var directed = d.directed ? d.directed : "--"
              - var tissue = d.tissue ? d.tissue : "--"
              tr(class = "anno-tr")
                td !{d.source}
                td !{d.target}
                td !{type}
                td #{weight}
                td !{directed}
                td !{tissue}
                td !{pubmedLink(d.reference)}
                td
                  span(id="vote-#{uid}-#{pmid_ref}") #{numVotes}
                td
                  a(data-uid="#{uid}", class="trash-ppi-icon", title="Remove ppi")
                    span(class="glyphicon glyphicon-trash")
      - else
        | You have not annotated any protein-protein interactions. &nbsp;


    hr
    br

    div(id="additional-info", style="width:60%")
      h4 Tell us about yourself
      br
      | We are interested in learning about our users. Please fill out the form below to tell us about yourself.&nbsp;
      | You can also leave feedback for us at anytime by following the link in the footer of each page.&nbsp;
      | We will not <a href="/privacy", target="_new">share your information with a third-party for any purpose</a>.
      br
      br
      form(method="post", action="/user/update", role="form", id="about-yourself-form")
        label Institution or Corporation
        input(type="text", placeholder="e.g. Brown University", class="form-control", id="institution", name="institution", value=(user.institution ? "#{user.institution}" : ""))
        br
        label Department or Lab
        input(type="text", placeholder="e.g. Computer Science Department", class="form-control", id="department", name="department", value=(user.department ? "#{user.department}" : ""))
        br
        label Type of researcher
        br
        select(class="form-control", name="researcherType", id="researcherType")
          option(value="") -- choose below --
          option(value="Bioinformatician", selected=(user.researcherType == "Bioinformatician" ? "selected" : undefined)) Bioinformatician
          option(value="Biologist", selected=(user.researcherType == "Biologist" ? "selected" : undefined)) Biologist
          option(value="Clinician", selected=(user.researcherType == "Clinician" ? "selected" : undefined)) Clinician
          option(value="Medical doctor", selected=(user.researcherType == "Medical doctor" ? "selected" : undefined)) Medical doctor
        br
        label Sign up for our newsletter
        input(type="checkbox", style="margin-left:10px", name="newsletter", id="newsletter", checked=(user.newsletter ? "checked" : undefined))
        br
        label Other
        textarea(class="form-control", name="other", id="other", placeholder="Any additional info you'd like to share.")
        br
        button(type="submit", id="submit", class="btn btn-default") Submit

block belowTheFold
  script(src='components/jquery/dist/jquery.min.js').
  script(src='js/account.js')
  //- adding items to the page
  script(type='text/javascript').
    $(document).ready(function() {
      var annos = !{JSON.stringify(geneAnnos)};
        $('#gene-annotation-table').find('tr').each(function(index) {
        var trow = $(this);
        if (index === 0) {
          trow.prepend('<th>Gene</th>');
          trow.append('<th>Delete</th>');
        } else {
          trow.prepend('<td>' + annos[index - 1].gene + '</td>');
          trow.append('<td><a data-uid=' + annos[index - 1].u_id + ' class="trash-mut-icon" title="Remove mutation"><span class="glyphicon glyphicon-trash"></a></td>');
        }
      });
      $(".trash-mut-icon").click(deleteAnnotation);
    });