extends layout
block body
  div(class="container")
    h3
      | Your account. &nbsp;
      small Manage your settings and uploaded datasets here.
    hr
    h4 Account information
    b Name: &nbsp;
    | #{user.name}
    br
    b Email: &nbsp;
    | #{user.email}
    br
    br
    div(class="col-md-12", style="padding:0")
      div(class="attention col-md-6")
        label
          input(type="checkbox" id="consentLog")
          | I want to improve MAGI by sending tool usage information.
        p(id="consentMoreInfo") (More information)
        div(id="consentMoreInfoDiv")
          hr
          p By agreeing to share your tool usage information you can help us improve your
            | research experience.
            | By understanding how researchers explore and analyze data, we can better build
            | software features that are intuitive to use, and are targetted to solve your research
            | problems.
          p By providing consent to share your tool usage through the above form, MAGI will
            | collect anonymized tool usage information. <em>Your identity and any uploaded data will
            | stay anonymous.</em> The information we collect consists of how you
            | interact with the tool, the pixel dimensions of MAGI, session time per query, genes
            | queried, and anonymized dataset IDs. We also look at the number of annotation votes that
            | are submitted and the number of annotations are made, but do not collect what
            | annotations are voted on or created.
    br
    - if (groups.length != 0)
      b Datasets
      a(href="/upload", style="float:right") Upload a new dataset.
      table(class="table table-bordered table-condensed")
        tr(class="odd")
          th Group
          th Name
          th Number of samples
          th Color
          th Created on
          th Last updated
          th Remove
        -for(var i = 0; i < groups.length; i++)
          -var group = groups[i];
          -var rowClass = i % 2 == 0 ? 'even' : 'odd';
          -for (var j in group.dbs)
            -var db = group.dbs[j];
            tr(class="#{ rowClass }")
              td
                - if (j == 0)
                  | #{group.name}
              td #{db.title}
              td #{db.num_samples}
              td(style="background:#{db.color};width:20px;height:20px;", title="#{db.color}")
              td #{ moment(db.created_at).format("MM/DD/YYYY") }
              td #{ moment(db.updated_at).fromNow() }
              td
                a(href="/delete/dataset?did=#{db._id}", title="Remove dataset")
                  span(class="glyphicon glyphicon-trash")
    - else
      | You have not uploaded any datasets. &nbsp;
      a(href="/upload") Upload your first dataset.
    hr
    div(id="additional-info", style="width:60%")
      h4 Tell us about yourself
      br
      | We are interested in learning about our users. Please fill out the form below to tell us about yourself.&nbsp;
      | You can also leave feedback for us at anytime by following the link in the footer of each page.&nbsp;
      | We will not <a href="/privacy", target="_new">share your information with a third-party for any purpose</a>.
      br
      br
      form(method="post", action="/user/update", role="form", id="about-yourself-form")
        label Institution or Corporation
        input(type="text", placeholder="e.g. Brown University", class="form-control", id="institution", name="institution", value=(user.institution ? "#{user.institution}" : ""))
        br
        label Department or Lab
        input(type="text", placeholder="e.g. Computer Science Department", class="form-control", id="department", name="department", value=(user.department ? "#{user.department}" : ""))
        br
        label Type of researcher
        br
        select(class="form-control", name="researcherType", id="researcherType")
          option(value="") -- choose below --
          option(value="Bioinformatician", selected=(user.researcherType == "Bioinformatician" ? "selected" : undefined)) Bioinformatician
          option(value="Biologist", selected=(user.researcherType == "Biologist" ? "selected" : undefined)) Biologist
          option(value="Clinician", selected=(user.researcherType == "Clinician" ? "selected" : undefined)) Clinician
          option(value="Medical doctor", selected=(user.researcherType == "Medical doctor" ? "selected" : undefined)) Medical doctor
        br
        label Sign up for our newsletter
        input(type="checkbox", style="margin-left:10px", name="newsletter", id="newsletter", checked=(user.newsletter ? "checked" : undefined))
        br
        label Other
        textarea(class="form-control", name="other", id="other", placeholder="Any additional info you'd like to share.")
        br
        button(type="submit", id="submit", class="btn btn-default") Submit
  script(src='components/jquery/dist/jquery.min.js').
  script(src='js/account.js')
