extends layout

block body
  div(class="banner")
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1(class="bannerHeader") Welcome to MAGI
          h4 A tool for Mutation Annotation and Genomic Interpretation
          br
          p MAGI is a tool for annotating, exploring, and analyzing gene sets that may be associated with cancer.
          ul
            li Point 1
            li Point 2
            li Point 3
          br
          a(type="button" class="btn btn-tour dropdown-toggle" href="#" style="margin-bottom:15px;") Get the tour
        div(class="col-md-4")
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_cna")
              img(src="img/circle_cna.png" style="width:100%;height:100%;")
              | <br /> CNAs
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_mutmtx")
              img(src="img/circle_mutmtx.png" style="width:100%;height:100%;")
              | <br /> Mutation Matrices
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_subnet")
              img(src="img/circle_subnet.png" style="width:100%;height:100%;")
              | <br /> Networks
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_transcript")
              img(src="img/circle_transcript.png" style="width:100%;height:100%;")
              | <br /> Transcripts

  br
  a(name="input-chooser")
  div(class="container-index", id="input-chooser")
    ul(id="magi-actions", class="nav nav-tabs nav-justified", style="")
      li(id="activeAction")
        a(href="/" id="magi-tab-query") Query
      li
        a(href="/upload" id="magi-tab-upload") Upload Mutation Data
      li
        a(href="/datasets" id="magi-tab-datasets") View Dataset Summaries
    div(id="query", class="panel-success panel", style="margin-top:-2px")
      div(class="panel-body")
        form(method="post", action="/", role="form", id="query-form")
          div(id="db-chooser", class="col-lg-12")
            div(id="db-select", class="col-lg-6")
              h5 Datasets
              div(style="margin-top:3px" id="magi-datasets")
                select(id="dataset-multiselect", class="multiselect", name="multiselect", multiple="multiple")
                   -for (var i in groups)
                     -var group = groups[i];
                     -var groupName = group.name == "" ? "Other" : group.name;
                     optgroup(label="#{groupName}")
                       -for (var j in group.dbs)
                         -var db = group.dbs[j];
                         //- The checkbox values are constructed
                         option(value="#{db.checkboxValue}") #{db.title}

            div(class="col-lg-1")
            div(class="col-lg-5 instructions")
              b Instructions
              ul
                li Select datasets from the dropdown.
                li Search by:
                  ul
                    li group name
                    li cancer type
                    li <code>public</code> or <code>private</code>
                li
                  a(href="/datasets") View available datasets.
                li
                  a(href="/upload") Upload your own data.


          hr(style="clear:both;margin:10px")
          div(id="gene-chooser", class="col-lg-12")
            div(id="gene-textarea", class="col-lg-6")
              h5 Gene set (25 maximum).
              textarea(id="genes-list", name="genes", class="form-control", rows="5", style="margin-top:3px")
                | STAG1
                | STAG2
                | SMC1A
                | SMC3
                | RAD21
              br
            div(class="col-lg-1")
            div(class="instructions col-lg-5")
              b Instructions
              ul
                li Enter up to 25 genes to query.
          br(style="clear:both")
          div(id="submit-query", class="text-center")
            button(type="submit", id="submit", class="btn btn-success") Submit query
            br
            a(href="#", id="reset") Reset
            br
            br
            div(id="status")

          - if (recentQueries && recentQueries.length > 0)
            h4
              | Your most recent queries
              small(id="recent-queries")

          div(id="example-queries")
            h4
              | Example queries&nbsp;
              small Click a query name to populate the form above.
            a(id="swi-snf-pan-can") SWI-SNF / TCGA Pan-Cancer
            a(id="cohesin-pan-can") Cohesin / TCGA Pan-Cancer
            a(id="pi3k-gbm") PI(3)K and BRAF / TCGA GBM
          br
          div(id="advanced-options", class="panel panel-default")
            div(class="panel-heading", data-toggle="collapse", data-parent="#accordion", href="#collapseOptions", style="cursor:pointer;font-size:14px;")
              span(class="panel-title")
                | Advanced options
                span(style="float:right") [+]
            div(id="collapseOptions", class="panel-collapse collapse")
              div(class="panel-body")
                b
                  abbr(title="Show all samples in each dataset even if samples from different datasets have the same IDs.") Show duplicate samples
                input(type="checkbox", name="showDuplicates", id="showDuplicates", style="margin-left:10px")

    a(name="sec-about")
    div(id="sec-about")
      hr
      h3 About MAGI
      br
      p MAGI is a tool for annotating, exploring, and analyzing gene sets that may be
        | associated with cancer.
      p The tool was authored by the <a href="http://compbio.cs.brown.edu/">Raphael Lab</a> at Brown University.
      hr
      div(id="splash-img")
        div
          a(href="#", id="circle_cna")
            img(src="img/circle_cna.png")
            | <br /><br /> Copy Number Aberations
        div
          a(href="#", id="circle_mutmtx")
            img(src="img/circle_mutmtx.png")
            | <br /><br /> Mutation Matrices
        div
          a(href="#", id="circle_subnet")
            img(src="img/circle_subnet.png")
            | <br /><br /> Networks
        div
          a(href="#", id="circle_transcript")
            img(src="img/circle_transcript.png")
            | <br /><br /> Transcripts
      br
      br
    a(name="component-descriptions")
    div(id="component-descriptions")
      a(name="mutation-matrix")
      h4
        a(href="/#mutation-matrix") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Mutation Matrix
      br
      div(class="text-center")
        div(id="multi-cancer-m2")
        br
        i Mutation matrix of multiple cancer types.
      br
      div(class="text-center")
        div(id="single-cancer-m2")
        br
        i Mutation matrix of a single cancer type.
      br
      | Mutation matrices show the pattern of mutations in a set of genes (rows) in a cohort of tumor samples (columns).
      | Each cell in the mutation matrix contains shape, which represents whether or not a gene is mutated in the given sample.
      | Mutation matrices are colored in different ways, depending on if the tumor cohort includes multiple cancers or not.
      | For a cohort with multiple cancer types each cell is colored by the cancer type of the sample,
      | while for a cohort with one cancer type each cell is colored by whether or not the gene is the only
      | gene to harbor a mutation in that sample.
      br
      br
      | Mutation datasets are provided, or you can&nbsp;
      a(href="/upload") upload your own
      | .
      br
      br
      a(name="subnetwork")
      h4
        a(href="/#subnetwork") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Subnetwork
      br
      div(class="text-center")
        div(id="gd3-subnetwork-plot")
        br
        i Subnetwork of five genes with edges from three interaction networks.
      br
      | The subnetwork visualization shows the interactions among a set of nodes (proteins)
      | in one or multiple protein interaction networks. Edges that appear in multiple subnetworks
      | will appear together in the visualization. Nodes are colored by the number of samples in which
      | they are mutated.
      br
      br
      | We provide the&nbsp;
      a(href="http://hint.yulab.org/", target="_new") HINT
      | ,&nbsp;
      a(href="http://www.hprd.org/", target="_new") HPRD
      | ,&nbsp;and&nbsp;
      a(href="http://irefindex.org/wiki/index.php?title=iRefIndex", target="_new") iRefIndex
      | &nbsp; protein-protein interaction (PPI) networks.
      | To request additional PPI networks, please&nbsp;
      a(href="/contact") contact us
      | .
      br
      br
      a(name="transcript-plot")
      h4
        a(href="/#transcript-plot") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Transcript plot
      br
      div(class="text-center")
        div(id="gd3-transcript-plot")
        br
        i Transcript plot for the SMAD4 transcript ENST00000342988 in multiple cancer types.
      br
      | The transcript plot shows locations at which mutations occur in a gene's transcript.
      | Mutations are color-coded by cancer type, and different mutation types (e.g. missense, nonsense)
      | are represented by different symbols. In addition, protein domains from different databases
      | are shown along the length of the transcript.
      br
      br
      | The mutation data for the transcript plot is the same as for the&nbsp;
      a(href="#mutation-matrix") mutation matrix
      | . Protein domains are provided for the&nbsp;
      a(href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml") Conserved Domain
      | ,&nbsp;
      a(href="http://pfam.sanger.ac.uk/") PFAM
      | , and&nbsp;
      a(href="http://smart.embl-heidelberg.de/") SMART
      | &nbsp; databases.
      br
      br
      a(name="cna-browser")
      h4
        a(href="/#cna-browser") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Copy Number Aberration (CNA) Browser
      br
      div(class="text-center")
        div(id="gd3-cna-browser")
        br
        i CNA browser for amplifications in the EGFR gene in glioblastoma.
      br
      | The copy number aberration browser shows the amplified/deleted segments
      | that have been mapped to a particular gene. Since many segments span more than
      | the length of the gene, the segments are shown in the context of a 
      | chromosome arm. Segments are colored by cancer type.
      br
      br
      | The mutation data for the CNA browser is the same as for the&nbsp;
      a(href="#mutation-matrix") mutation matrix
      | .

block belowTheFold
  link(rel="stylesheet", href="/components/bootstrap-multiselect/css/bootstrap-multiselect.css", type="text/css")
  link(rel="stylesheet", href="/components/shepherd.js/css/shepherd-theme-arrows.css", type="text/css")
  script(src='/components/d3/d3.min.js')
  script(src='/components/jquery-form/jquery.form.js')
  script(src='/components/bootstrap-multiselect/js/bootstrap-multiselect.js')
  //- script(src="components/gd3/dist/js/gd3.min.js")
  script(src='components/gd3/dist/js/cna-browser.js').
  script(src='components/gd3/dist/js/transcript-plot.js').
  script(src='components/gd3/dist/js/mutation-matrix.js').
  script(src='components/gd3/dist/js/subnetwork.js').
  script(src='components/shepherd.js/shepherd.min.js').
  script(src='/js/query-control.js')
  script(src='/js/examples.js')
  script.
    var tour;
    tour = new Shepherd.Tour({
      defaults: {
        classes: 'shepherd-open shepherd-element shepherd-theme-arrows',
        scrollTo: true
      }
    });
    tour.addStep('query-step', {
      text: 'Query a combination of public and private mutation data.',
      attachTo: '#magi-tab-query top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Next', action: tour.next }
      ],
      scrollTo: true
    });
    tour.addStep('example-step', {
      text: 'Upload your mutation data including SNVs and CNAs.',
      attachTo: '#magi-tab-upload top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ],
      scrollTo: true
    });
    tour.addStep('dataset-summaries', {
      text: 'Once you\'ve uploaded your own data, you can view a summary of each dataset here. ',
      attachTo: '#magi-tab-datasets top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('dataset-multiselect', {
      text: 'Choose a combination of mutation datasets to query here. Toggle datasets on/off using the checkboxes.',
      attachTo: '#magi-datasets bottom',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('gene-list', {
      text: 'Enter a gene list of up to 25 gene symbols. MAGI will display all the mutations in these genes from the datasets you selected above.',
      attachTo: '#genes-list bottom',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('submit', {
      text: 'Once you\'ve entered a list of genes and selected a set of datasets, you submit your query here. MAGI will take you to another page to display the mutations.',
      attachTo: '#submit top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Finish', action: tour.next }
      ]
    });
    $('.btn-tour').on('click', function() {
        tour.start();
    });
    //- Initialize the multiselect
    $(document).ready(function() {
      $('#dataset-multiselect').multiselect({
        enableCaseInsensitiveFiltering: true,
        includeSelectAllOption: true,
        maxHeight: 400,
        buttonWidth: 350,
        filterBehavior: 'both'
      });
      //- Have the reset button uncheck all datasets and set the gene list to cohesin
      $("a#reset").on("click", function(){
          $('#dataset-multiselect').multiselect('deselect', datasetToCheckboxes.all);
          $('#genes-list').val(["STAG1", "STAG2", "SMC1A", "SMC3", "RAD21"].join("\n"));
          return false;
        })
    });
    //- Make the links at the top of the page scroll down
    function scrollToAnchor(aid){
      var aTag = $("a[name='"+ aid +"']");
      $('html,body').animate( {scrollTop: aTag.offset().top }, 'slow');
      setTimeout(function() {window.location.hash = aid;}, 300);
    }
    $("a#nav-instructions").on("click", function(){ scrollToAnchor("component-descriptions")});
    $("a#about").on("click", function(){ scrollToAnchor("sec-about")});
    $("a#search").on("click", function(){ scrollToAnchor("input-chooser")});
    $("a#circle_cna").on("click", function(){ scrollToAnchor("cna-browser")});
    $("a#circle_mutmtx").on("click", function(){ scrollToAnchor("mutation-matrix")});
    $("a#circle_subnet").on("click", function(){ scrollToAnchor("subnetwork")});
    $("a#circle_transcript").on("click", function(){ scrollToAnchor("transcript-plot")});

    //- The example queries are mapped to databases by the server passing in
    //- formatted DB
    var datasetToCheckboxes = !{JSON.stringify(datasetToCheckboxes)},
        recentQueries = !{JSON.stringify(recentQueries)};
