extends layout
block body
  div(class="banner")
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1(class="bannerHeader") Welcome to MAGI
          h4 A tool for Mutation Annotation and Genomic Interpretation
            br
            br
            br
          p MAGI is a tool for annotating, exploring, and analyzing gene sets that may be associated with cancer.
          ul
            li View aberrations in and interactions among sets of genes.
            li
              a(href="/upload") Upload your mutation data
              | &nbsp;to view in combination with&nbsp;
              a(href="http://www.nature.com/tcga/", target="_new") TCGA Pan-Cancer data&nbsp;
              | , and generate dataset summaries.
            li Collaboratively annotate aberrations and interactions while exploring your data.
            li View the aberrations in a tumor sample, prioritized by their annotations.
          a(type="button" class="btn btn-tour dropdown-toggle" href="#" style="margin-bottom:15px;") Get the tour
        div(class="col-md-4")
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_aberration")
              img(src="img/thumb/aberration.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Aberrations
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_network")
              img(src="img/thumb/network.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Networks
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_heatmap")
              img(src="img/thumb/heatmap.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Heatmaps
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_transcript")
              img(src="img/thumb/transcript.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Single Nucleotide Variants
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_annotation")
              img(src="img/thumb/annotation.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Annotations
          div(style="display:inline-block;max-width:100px;margin-right:10px;vertical-align: top;text-align:center;")
            a(href="#", id="circle_cna")
              img(src="img/thumb/cna.svg" style="width:100%;height:100%;" class="img-circle circleThumb")
              | <br /> Copy Number Aberrations

  br
  a(name="input-chooser")
  div(class="container-index", id="input-chooser")
    ul(id="magi-actions", class="nav nav-tabs nav-justified", style="")
      li(class="query activeAction")
        a(href="#", id="magi-tab-query-genes") Query gene sets
      li(class="query")
        a(href="#", id="magi-tab-query-samples") Query samples
      li
        a(href="/upload" id="magi-tab-upload") Upload Your Data
      li
        a(href="/datasets" id="magi-tab-datasets") View Dataset Summaries

    div(id="query-samples", class="query panel-success panel", style="margin-top:-2px;display:none")
      div(class="panel-body")
        b Search by sample ID
        p View the mutations in and clinical information from a single tumor sample.
        input(class="typeahead form-control", id="sample-typeahead", type="text", placeholder="Sample ID (e.g. TCGA-XX-XXXX).")
        br
        br
        button(type="submit", id="submit-sample", class="btn btn-success submit") Submit query
        br
        br
        div(id="sample-status", class="alert alert-warning", style="display:none")

    div(id="query-genes", class="query panel-success panel", style="margin-top:-2px")
      div(class="panel-body")
        form(method="post", action="/", role="form", id="query-form")
          div(id="db-chooser", class="col-lg-12")
            div(id="db-select", class="col-lg-6")
              h5 Datasets
              div(style="margin-top:3px" id="magi-datasets")
                select(id="dataset-multiselect", class="multiselect", name="multiselect", multiple="multiple")
                   -for (var i in groups)
                     -var group = groups[i];
                     -var groupName = group.name == "" ? "Other" : group.name;
                     optgroup(label="#{groupName}")
                       -for (var j in group.dbs)
                         -var db = group.dbs[j];
                         //- The checkbox values are constructed server side
                         option(value="#{db.checkboxValue}") #{db.title}

            div(class="col-lg-1")
            div(class="col-lg-5 instructions")
              b Instructions
              ul
                li Select datasets from the dropdown.
                li Search by:
                  ul
                    li group name
                    li cancer type
                    li <code>public</code> or <code>private</code>
                li
                  a(href="/datasets") View available datasets.
                li
                  a(href="/upload") Upload your own data.


          hr(style="clear:both;margin:10px")
          div(id="gene-chooser", class="col-lg-12")
            div(id="gene-textarea", class="col-lg-6")
              h5 Gene set (25 maximum).
              textarea(id="genes-list", name="genes", class="form-control", rows="5", style="margin-top:3px")
                | STAG1
                | STAG2
                | SMC1A
                | SMC3
                | RAD21
              br
            div(class="col-lg-1")
            div(class="instructions col-lg-5")
              b Instructions
              ul
                li Enter up to 25 genes to query.
                li Genes will be automatically converted to uppercase.
                li Blank queries will show annotations for all the samples in the datasets selected for your query.
          br(style="clear:both")
          div(id="submit-query", class="text-center")
            button(type="submit", id="submit-genes", class="btn btn-success submit") Submit query
            br
            a(href="#", id="reset") Reset
            br
            br
            div(id="status")

          - if (recentQueries && recentQueries.length > 0)
            h4
              | Your most recent queries
              small(id="recent-queries")

          div(id="example-queries")
            h4
              | Example queries&nbsp;
              small Click a query name to populate the form above.
            a(id="swi-snf-pan-can") SWI-SNF / TCGA Pan-Cancer
            a(id="cohesin-pan-can") Cohesin / TCGA Pan-Cancer
            a(id="pi3k-gbm") PI(3)K and BRAF / TCGA GBM
          br
          div(id="advanced-options", class="panel panel-default")
            div(class="panel-heading", data-toggle="collapse", data-parent="#accordion", href="#collapseOptions", style="cursor:pointer;font-size:14px;")
              span(class="panel-title")
                | Advanced options
                span(style="float:right") [+]
            div(id="collapseOptions", class="panel-collapse collapse")
              div(class="panel-body")
                b
                  abbr(title="Show all samples in each dataset even if samples from different datasets have the same IDs.") Show duplicate samples
                input(type="checkbox", name="showDuplicates", id="showDuplicates", style="margin-left:10px")

    a(name="sec-about")
    div(id="sec-about")
      hr
      h3 About MAGI
      br
      p MAGI is a tool for annotating, exploring, and analyzing gene sets that may be
        | associated with cancer.
      p The tool was authored by the <a href="http://compbio.cs.brown.edu/">Raphael Lab</a> at Brown University.
      hr
      div(class="row")
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_aberration")
            img(src="img/thumb/aberration.svg" class="img-circle circleThumb")
            | <br /><br /> Aberrations
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_network")
            img(src="img/thumb/network.svg" class="img-circle circleThumb")
            | <br /><br /> Networks
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_transcript")
            img(src="img/thumb/heatmap.svg" class="img-circle circleThumb")
            | <br /><br /> Heatmaps
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_transcript")
            img(src="img/thumb/transcript.svg" class="img-circle circleThumb")
            | <br /><br /> Single Nucleotide Variants
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_annotation")
            img(src="img/thumb/annotation.svg" class="img-circle circleThumb")
            | <br /><br /> Annotations
        div(class="col-sm-2" class="text-center")
          a(href="#", id="circle_cna")
            img(src="img/thumb/cna.svg" class="img-circle circleThumb")
            | <br /><br /> Copy Number Aberrations

      br
      br
    a(name="component-descriptions")
    div(id="component-descriptions")
      a(name="aberrations")
      h4
        a(href="/#aberrations") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Aberrations
      br
      div(class="text-center")
        div(id="multi-cancer-m2")
        br
        i Aberrations view of multiple cancer types.
      br
      div(class="text-center")
        div(id="single-cancer-m2")
        br
        i Aberrations view of a single cancer type.
      br
      | The aberrations view shows the pattern of mutations in a set of genes (rows) in a cohort of tumor samples (columns) as a matrix.
      | Each cell in the mutation matrix contains shape, which represents whether or not a gene is mutated in the given sample.
      | Matrices are colored in different ways, depending on if the tumor cohort includes multiple cancers or not.
      | For a cohort with multiple cancer types each cell is colored by the cancer type of the sample,
      | while for a cohort with one cancer type each cell is colored by whether or not the gene is the only
      | gene to harbor a mutation in that sample.
      br
      br
      | Mutation datasets are provided, or you can&nbsp;
      a(href="/upload") upload your own
      | .
      br
      br
      a(name="network")
      h4
        a(href="/#network") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Network
      br
      div(class="text-center")
        div(id="gd3-subnetwork-plot")
        br
        i Subnetwork of five genes with edges from three interaction networks.
      br
      | The subnetwork visualization shows the interactions among a set of nodes (proteins)
      | in one or multiple protein interaction networks. Edges that appear in multiple subnetworks
      | will appear together in the visualization. Nodes are colored by the number of samples in which
      | they are mutated.
      br
      br
      | We provide the&nbsp;
      a(href="http://hint.yulab.org/", target="_new") HINT
      | ,&nbsp;
      a(href="http://www.hprd.org/", target="_new") HPRD
      | ,&nbsp;and&nbsp;
      a(href="http://irefindex.org/wiki/index.php?title=iRefIndex", target="_new") iRefIndex
      | &nbsp; protein-protein interaction (PPI) networks.
      | To request additional PPI networks, please&nbsp;
      a(href="/contact") contact us
      | .
      br
      br
      a(name="heatmap")
      h4
        a(href="/#heatmap") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Heatmap
      br
      div(class="text-center")
        div(id="gd3-heatmap")
        br
        i Figure caption.
      br
      | Some cool text goes here for the heatmap
      br
      br
      a(name="snvs")
      h4
        a(href="/#snvs") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Single Nucleotide Variants (SNVs)
      br
      div(class="text-center")
        div(id="gd3-transcript-plot")
        br
        i Transcript view for the SMAD4 transcript ENST00000342988 in multiple cancer types.
      br
      | The transcript view shows locations at which mutations occur in a gene's transcript.
      | Mutations are color-coded by cancer type, and different mutation types (e.g. missense, nonsense)
      | are represented by different symbols. In addition, protein domains from different databases
      | are shown along the length of the transcript.
      br
      br
      | The mutation data for the transcript view is the same as for the&nbsp;
      a(href="#mutation-matrix") aberrations view
      | . Protein domains are provided for the&nbsp;
      a(href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml") Conserved Domain
      | ,&nbsp;
      a(href="http://pfam.sanger.ac.uk/") PFAM
      | , and&nbsp;
      a(href="http://smart.embl-heidelberg.de/") SMART
      | &nbsp; databases.
      br
      br
      a(name="annotation")
      h4
        a(href="/#annotation") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Annotation
      br
      div(class="text-center")
        div(id="gd3-annotation")
        br
        i Figure caption.
      br
      | Some cool text goes here
      br
      br
      a(name="cnas")
      h4
        a(href="/#cnas") <span class="glyphicon glyphicon-link"></span>
        | &nbsp; Copy number aberrations (CNAs)
      br
      div(class="text-center")
        div(id="gd3-cna-browser")
        br
        i CNA view for amplifications in the CDKN2A gene in glioblastoma.
      br
      | The copy number aberration browser shows the amplified/deleted segments
      | that have been mapped to a particular gene. Since many segments span more than
      | the length of the gene, the segments are shown in the context of a
      | chromosome arm. Segments are colored by cancer type.
      br
      br
      | The mutation data for the CNA browser is the same as for the&nbsp;
      a(href="#mutation-matrix") mutation matrix
      | .

block belowTheFold
  link(rel="stylesheet", href="/components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css", type="text/css")
  link(rel="stylesheet", href="/components/shepherd.js/css/shepherd-theme-arrows.css", type="text/css")
  script(src='/components/d3/d3.min.js')
  script(src='/components/jquery-form/jquery.form.js')
  script(src='/components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')
  script(src="/components/gd3/gd3.js")
  script(src='components/shepherd.js/shepherd.min.js').
  script(src='/components/hogan/web/builds/2.0.0/hogan-2.0.0.min.js').
  script(src='/components/typeahead.js/dist/typeahead.bundle.min.js').
  script(src='/js/query-control.js')
  script(src='/js/examples.js')
  script.
    var tour;
    tour = new Shepherd.Tour({
      defaults: {
        classes: 'shepherd-open shepherd-element shepherd-theme-arrows',
        scrollTo: true
      }
    });
    tour.addStep('query-step', {
      text: 'Query a combination of public and private mutation data.',
      attachTo: '#magi-tab-query-genes top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Next', action: tour.next }
      ],
      scrollTo: true
    });
    tour.addStep('submit', {
      text: 'You can also view <i>all</i> the mutations in individual tumor samples, prioritized by their annotations in the MAGI database.',
      attachTo: '#magi-tab-query-samples top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ],
      scrollTo: true
    });
    tour.addStep('example-step', {
      text: 'Upload your mutation data including SNVs and CNAs.',
      attachTo: '#magi-tab-upload top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ],
      scrollTo: true
    });
    tour.addStep('dataset-summaries', {
      text: 'Once you\'ve uploaded your own data, you can view a summary of each dataset here. ',
      attachTo: '#magi-tab-datasets top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('dataset-multiselect', {
      text: 'Choose a combination of mutation datasets to query here. Toggle datasets on/off using the checkboxes.',
      attachTo: '#magi-datasets bottom',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('gene-list', {
      text: 'Enter a gene list of up to 25 gene symbols. MAGI will display all the mutations in these genes from the datasets you selected above.',
      attachTo: '#genes-list bottom',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Exit', classes: 'shepherd-button-secondary', action: tour.cancel },
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Next', action: tour.next }
      ]
    });
    tour.addStep('submit', {
      text: 'Once you\'ve entered a list of genes and selected a set of datasets, you submit your query here. MAGI will take you to another page to display the mutations.',
      attachTo: '#submit-genes top',
      classes: 'shepherd shepherd-open shepherd-theme-arrows',
      buttons: [
        { text: 'Back', classes: 'shepherd-button-secondary', action: tour.back },
        { text: 'Finish', action: tour.next }
      ]
    });
    $('.btn-tour').on('click', function() {
        tour.start();
    });
    //- Initialize the multiselect
    $(document).ready(function() {
      $('#dataset-multiselect').multiselect({
        enableCaseInsensitiveFiltering: true,
        includeSelectAllOption: true,
        maxHeight: 400,
        buttonWidth: 350,
        filterBehavior: 'both'
      });
      //- Have all datasets except TCGA STAD selected by default
      var datasetDeselect = !{JSON.stringify(datasetDeselect)};
      $('#dataset-multiselect').multiselect('selectAll', false);
      $('#dataset-multiselect').multiselect('deselect', datasetDeselect)
      $('#dataset-multiselect').multiselect('updateButtonText');
      //- Have the reset button uncheck all datasets and set the gene list to cohesin
      $("a#reset").on("click", function(){
          $('#dataset-multiselect').multiselect('deselect', datasetToCheckboxes.all);
          $('#genes-list').val(["STAG1", "STAG2", "SMC1A", "SMC3", "RAD21"].join("\n"));
          return false;
        })
    });
    //- Make the links at the top of the page scroll down
    function scrollToAnchor(aid){
      var aTag = $("a[name='"+ aid +"']");
      $('html,body').animate( {scrollTop: aTag.offset().top }, 'slow');
      setTimeout(function() {window.location.hash = aid;}, 300);
    }
    $("a#nav-instructions").on("click", function(){ scrollToAnchor("component-descriptions")});
    $("a#about").on("click", function(){ scrollToAnchor("sec-about")});
    $("a#search").on("click", function(){ scrollToAnchor("input-chooser")});

    $("a#circle_aberration").on("click", function(){ scrollToAnchor("aberrations")});
    $("a#circle_annotation").on("click", function(){ scrollToAnchor("annotation")});
    $("a#circle_cna").on("click", function(){ scrollToAnchor("cnas")});
    $("a#circle_heatmap").on("click", function(){ scrollToAnchor("heatmap")});
    $("a#circle_network").on("click", function(){ scrollToAnchor("network")});
    $("a#circle_transcript").on("click", function(){ scrollToAnchor("snvs")});

    //- The example queries are mapped to databases by the server passing in
    //- formatted DB
    var datasetToCheckboxes = !{JSON.stringify(datasetToCheckboxes)},
        recentQueries = !{JSON.stringify(recentQueries)};

    //- Update the selected tab onclick
    $("a#magi-tab-query-genes").on("click", function(e){
      e.preventDefault();
      $("div#query-genes").show();
      $("div#query-samples").hide();
      $("li.query").removeClass("activeAction");
      $(this).parent().attr("class", "query activeAction");
    });
    $("a#magi-tab-query-samples").on("click", function(e){
      e.preventDefault();
      $("div#query-genes").hide();
      $("div#query-samples").show();
      $("li.query").removeClass("activeAction");
      $(this).parent().attr("class", "query activeAction");
    });

    //- Set up bloodhound for searching for sample names
    var samples = !{JSON.stringify(samples)};
    var sampleBloodhound = new Bloodhound({
      datumTokenizer: function(data){
        // For each datum, return an array of the value (cancers) and
        // abbreviations broken up by whitespace
        var sampleTokens = Bloodhound.tokenizers.whitespace(data.sample),
            cancerTokens = Bloodhound.tokenizers.whitespace(data.cancer),
            groupNameTokens = Bloodhound.tokenizers.whitespace(data.groupName);
        return sampleTokens.concat(cancerTokens.concat(groupNameTokens));
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: samples
    });
    sampleBloodhound.initialize();

    // Compile the template for showing suggestions
    var templ = Hogan.compile('<p><strong>{{sample}}</strong> ({{groupName}}: {{cancer}})</p>');
    $("input#sample-typeahead").typeahead({highlight: true}, {
      name: 'samples',
      displayKey: 'sample',
      source: sampleBloodhound.ttAdapter(),
      templates:{
        suggestion: function(data){ return templ.render(data); }
      }
    });

    //- Validate and submit the sample query form
    $("button#submit-sample").on("click", function(e){
      e.preventDefault();
      var sampleName = $("input#sample-typeahead").val();
      if (sampleName != ""){
        $("#sample-status").hide();
        window.location.href = '/sampleView?sample=' + sampleName;
      } else {
        $("#sample-status").show().html("Please enter a sample name before submitting.")
      }
    });
