extends header
block body
	div(class="container-fluid", id="input-chooser")
		form(method="post", action="/", role="form")
			div(id="gene-chooser")
				h4 Enter or upload gene set.
				br
				label
					| Upload text file. &nbsp;
					small Genes will appear in the box below.
				input(type="file", id="geneSet", name="geneSet", style="display:inline")
				br
				br
				label
					| Enter genes.
				textarea(id="genes-list", name="genes", class="form-control", rows="10")
					| STAG1
					| STAG2
					| SMC1A
					| SMC3
					| RAD21
				br
				button(type="submit", id="submit", class="btn btn-default") Submit
				br
				br
				div(id="status")

			div(id="db-chooser")
				h4 Choose dataset.
				br
				-for (var i in groups)
					-var group = groups[i];
					- if (group.name != "")
						- groupClass = "groupedClass"

						input(type="checkbox", style="float:right;", onclick="toggleCheckboxes('#{group.id}', this.checked );")
						h5(onclick="toggleGroup(this, '#{group.id}')", style="cursor:pointer") #{group.name} &nbsp;
							span(class="glyphicon glyphicon-chevron-down", style="font-size:80%")

					- else groupClass = "ungroupedClass"


					ul(class="#{groupClass} db-group", id="group-#{group.id}")
						-for (var j in groups[i].dbs)
							-var db = groups[i].dbs[j];
							li
								label
									//- Dataset checkboxes are prepended with db- to ensure no starts their
									// -dataset name with a non-letter (which would break HTML rules)
									input(type="checkbox", name="db-#{db}", class="group-#{group.id}-checkbox")
								| &nbsp; #{db} &nbsp;
					br

			br(style="clear:both")

	hr()
	div(id="footer", class="text-left")
		p(style="text-align:center") Updated: January 2nd, 2014

	script(src='components/jquery/jquery.min.js')
	script(src='components/jquery-form/jquery.form.js')
	script(src="js/gene-upload.js")
	script(src="js/ui.js")