doctype html
html
  head
    meta(charset='utf8')
    link(rel="icon", type="image/png", href="img/favicon.png")
    title MAGI
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/elusive-webfont.css')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47916336-1', 'brown.edu');
      ga('send', 'pageview');

  body()
    block header
      div(class="navbar navbar-default navbar-fixed-top" role="navigation")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#magi-navbar-collapse")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="/") MAGI
<<<<<<< HEAD

          div(class="collapse navbar-collapse" id="magi-navbar-collapse")
            div(class="nav navbar-left")
              div(class="row")
                div(id="topNavList")
                  ul(class="nav navbar-nav")
                    li
                      a(href="/upload") Upload
                    li
                      a(href="/#magi-tab-query" id="#{ skip_requery ? '' : 'navbar-query-btn' }") Query
                    li
                      a(href="/#db-chooser" id="nav-instructions") Instructions
                    li
                      a(href="/cancers") Cancers
                    li
                      a(href="/support") Support
                    li
                      a(href="#" id="give-feedback") Feedback

            ul(class="nav navbar-nav navbar-right", style="color:grey")
              li
                //- Ask the user to login or show his/her name
                - if (user)
                  div(style="padding-top:14px;margin-right:5px")
                    | Welcome,&nbsp;
                    a(href="/account") #{user.name}
                    | &nbsp;|&nbsp;
                    a(href="/logout") Logout
                - else
                  a(href="/auth/google/returnTo")
                    button(type="button" class="btn btn-default btn-xs") Login via Google

      -if (!skip_requery)
        -var body_margin_top = "80px";
        div(id="navbar-query-connector", class="navbar-query")
        div(id="navbar-query", class="navbar-query")
          div(style="margin-left:20px")
            div(style="display: inline-block;" id="magi-datasets")
              label(style="margin-right:5px") Dataset(s)
              select(id="dataset-multiselect", class="multiselect", name="multiselect", multiple="multiple", style="display:none")
            div(id="requery-gene-select", style="margin:10px 0 0 10px; display: inline-block;")
              form(class="form-inline" id="requery-gene-select-addForm")
                input(type="text" class="form-control typeahead" id="requery-gene-select-addInput" placeholder="Add gene." style="height: 22px;width: 100px")
                a(href="" class="btn btn-primary btn-xs", id="requery-gene-select-addBtn" style="width: 25px; margin-right: 5px") <strong>+</strong>
            div(class="btn-group" style="display: inline-block; margin-right: 10px")
              button(type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false")
                | genes <span class="caret"></span>
              ul(id="requery-gene-badge-list" class="dropdown-menu" role="menu" style="min-width: 100px;")
            a(class="btn btn-primary btn-xs" id="magi-nav-queryBtn")
              | Run query
      -else
        -var body_margin_top = "50px";

    div(id="body", style="margin-top:#{body_margin_top}")
      block body
    block footer
      hr
      div(id="footer", class="container")
        p(class="col-lg-4 text-left") Updated: May 28th, 2015
        p(class="col-lg-4 text-center") Copyright 2014-2015. All rights reserved.
        ul(id="more-info", class="col-lg-4 text-right")
          li
            a(href="/acknowledgements") Acknowledgements
          li
            a(href="/support") Support
        ul(id="even-more-info")
          li
            a(href="/contact") Contact
          li
            a(href="/privacy", target="_new") Privacy
          li
            a(href="/terms", target="_new") Terms
script(src='/components/jquery/dist/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
-if (!skip_requery)
  link(rel="stylesheet", href="/components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css", type="text/css")
  script(src='/components/bootstrap/js/dropdown.js')
  script(src='/components/d3/d3.min.js')
  script(src='/components/typeahead.js/dist/typeahead.bundle.min.js')
  script(src='/components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js').
  script(src='/js/nav-query.js')
script(id="_webengage_script_tag" type="text/javascript").
  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '#{webengageID}';
  _weq['webengage.widgetVersion'] = "4.0";
  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
block belowTheFold
