extends layout
block body
	br
	div(class="container")
		-if (error)
			h3 Sample not found: #{sampleName}
		-else
			h3 #{sample.name} (#{cancer.cancer})
			br
			div(class="col-lg-8 col-md-8")
				h4 Mutations
				table(class="table", id="variant-table")
					thead
						tr(style="background:#d3d3d3")
							th Annotation Rank
							th Gene
							th Mutation class
							th Locus/Change
					tbody
						-for (var i = 0; i < mutations.length; i++)
							- var m  = mutations[i];
							- var geneBackground = m.geneReferences && m.geneReferences.refs && m.geneReferences.refs.length > 0 ? '#d9edf7' : '#ffffff'
							- var typeBackground = m.typeReferences && m.typeReferences.refs && m.typeReferences.refs.length > 0 ? '#d9edf7' : '#ffffff'
							- var locusBackground = m.locusReferences && m.locusReferences.refs && m.locusReferences.refs.length > 0 ? '#d9edf7' : '#ffffff'
							- var pubmedLink = function (_id){
							- 		if (_id.toLowerCase().slice(0, 3) == 'pmc'){
							- 			var href = 'http://www.ncbi.nlm.nih.gov/pmc/articles/' + _id;
							-		} else{
							-			var href = 'http://www.ncbi.nlm.nih.gov/pubmed/' + _id;
							-		}
							-		return "<a href='" + href + "' target='_new'>" + _id + "</a>";
							-	}

							mixin refPopover(datum, title)
								- var rows = datum.refs.map(function(d){ return '<tr><td>' + d.pmids.map(pubmedLink).join(', ') + '</td><td>' + d.cancers.join(', ') + '</td></tr>' }).join("");
								- var tbl = '<table class="table" style="font-size:90%"><thead><tr style="background:#d3d3d3"><th>Pubmed ID</th><th>Cancers</th></tr></thead><tbody>' + rows + '</tbody></table>'
								a(href='#', data-title='#{title}', data-trigger='focus', data-content='#{tbl}', data-toggle='popover', class='initialism badge')
									| #{datum.count}

							tr
								td(style="background:#ffffff") #{i+1}
								td(style="background:#{geneBackground}")
									a(href="/view?genes=#{m.gene}&datasets=#{dataset._id}") #{m.gene}
									| &nbsp;
									-if (m.geneReferences.refs.length > 0)
										+refPopover(m.geneReferences, m.gene + ' Variant Annotations')
								td(style="background:#{typeBackground}")
									| #{m.type} &nbsp;
									-if (m.typeReferences && m.typeReferences.refs.length > 0)
										+refPopover(m.typeReferences, m.gene + ' ' + m.type + ' Annotations')
								td(style="background:#{locusBackground}")
									| #{m.change} &nbsp;
									-if (m.locusReferences && m.locusReferences.refs.length > 0) 
										+refPopover(m.locusReferences, m.gene + ' ' + m.type + ' ' + m.change + ' Annotations')

			div(class="col-lg-4 col-md-4")
				h4 Sample annotations
				-if (!annotations || annotations.length == 0)
					b No sample annotation information available.
				-else
					table(class="table table-striped")
						thead
							tr(style="background:#d3d3d3")
								th Property
								th Value
						tbody
							-for (var i = 0; i < annotations.length; i++)
								tr
									td #{annotations[i].property}
									td #{annotations[i].value}

block belowTheFold
	script(src='/components/jquery/dist/jquery.min.js').
	script(src='/components/bootstrap/dist/js/bootstrap.min.js').
	script(src='/components/DataTables/media/js/jquery.dataTables.min.js').
	script(src='/js/dataTableWrapper.js').
	script(type='text/javascript').
		//- Convert the tables into DataTables
		addDataTable({ tableID: "#variant-table", aaSorting: [[0, "asc"]] });
		//- Set up the popovers
		$("[data-toggle=popover]").popover({html:true, container: 'body'})
		//- Make sure the popovers are active whenever the table is updated
		var table = $("#variant-table").DataTable();
		table.on( 'draw', function () {
			$("[data-toggle=popover]").popover({html:true, container: 'body'})
		} );