extends layout
block body
    br
    div(class="container", id="upload")
        div(class="row")
            h3 Upload your mutation data.
            br
        div(class="row")
            div(class="col-sm-12")
                p To upload data and find out more about each data type MAGI supports (e.g., format),
                    | click the corresponding data types in Step 2. The input files for MAGI are all
                    | text (.txt) or tab-separated (.tsv) files.
        hr
        br
        div(class="row")
            h4 Step 1: Pick a cancer, name, and color
            br
        div(class="row")
            div(class="col-sm-3")
                label
                    | Cancer type (
                    a(href="/abbreviations") full list
                    | )
                br
                select(class="form-control", id="cancer")
                    optgroup(label="TCGA & ICGC")
                    - for (var i in tcga_icgc_cancers)
                        option(value="#{tcga_icgc_cancers[i].abbr}") #{tcga_icgc_cancers[i].cancer} (#{tcga_icgc_cancers[i].abbr.toUpperCase()})
                    optgroup(label="User-defined")
                    - for (var i in user_cancers )
                        option(value="#{user_cancers[i].abbr}") #{user_cancers[i].cancer} (#{user_cancers[i].abbr.toUpperCase()})
                | or upload a file of cancer types (this will be given precedence)
                input(type="file", id="cancers", name="cancers")
            div(class="col-sm-3")
                label
                    | Dataset name (e.g. cancer type).
                input(type="text", id="dataset", name="dataset", class="form-control", placeholder="Enter dataset name.")
            div(class="col-sm-3 noselect")
                label
                | <strong>Color</strong> (hex;&nbsp;
                a(onclick="randomColor(); return false;" id="randomColor") initialize randomly
                | )
                div(style="margin-top:5px")
                    span(id="db-color", style="width:33px;height:33px;padding:2px;margin-right:5px;border:1px solid #eee;border-radius:8px;float:left")
                    input(type="text", id="color", name="color", class="form-control", placeholder="#XXXXXX", style="width:100px", maxlength="7")
            div(class="col-sm-3")
                label
                    | Group name (optional).
                input(type="text", id="groupName", name="groupName", class="form-control", placeholder="Enter group name (optional).")
        br
        hr
        br
        div(class="row")
            h4 Step 2: Select data to upload
            br
            p MAGI will allow you to upload whatever data you want, so long as your data adheres to one of our supported formats (see below). For example,
                | both <em>methylation and expression data can be uploaded as &ldquo;Other Aberrations.&rdquo;</em>
            br
        div(class="row")
            div(class="col-sm-2")
                h4 Datatypes
                ul(class="nav nav-stacked uploadSelectorOptions")
                    li <a data-selector-type="SNV" class="uploadSelectorOption defaultUploadSelectorOption" href="#">SNVs</a>
                    li <a data-selector-type="CNA" class="uploadSelectorOption" href="#">CNAs</a>
                    li <a data-selector-type="OtherAberration" class="uploadSelectorOption" href="#">Other Aberrations</a>
                    li <a data-selector-type="DataMatrix" class="uploadSelectorOption" href="#">Data Matrix</a>
                    li <a data-selector-type="SampleType" class="uploadSelectorOption" href="#">Sample Types</a>
            div(class="col-sm-8 uploadDataSelectArea")
                div(class="selectorViewOption snvUploadSelector")
                    h4 Single nucleotide variants
                    br
                    input(type="file", id="SNVs", name="SNVs")
                    br
                    p <strong>The SNV file is a tab-separated file (*.tsv)</strong> that includes all SNVs for a dataset.
                        | Each row contains the data for a single SNV that occurs in one gene in one particular sample.
                    p The columns whose names are starred are required.
                        | Missing data should be replaced with <code>--</code>.
                    hr
                    h5 Format example
                    code PIK3CA&#9;TCGA-FD-A3B6&#9;ENST00000263967&#9;1068&#9;545&#9;Missense_Mutation&#9;E&#9;Q<br />
                    code STAG1&#9;TCGA-B0-4700&#9;--&#9;--&#9;--&#9;--&#9;--&#9;--
                    hr
                    h5 Format description
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Gene*
                            td PIK3CA
                            td Gene name.
                        tr
                            td 2
                            td Sample*
                            td TCGA-FD-A3B6
                            td Sample ID.
                        tr
                            td 3
                            td Transcript
                            td ENST00000263967
                            td Transcript ID (RefSeq/ENSEMBL).
                        tr
                            td 4
                            td Transcript Length
                            td 1068
                            td Length of transcript.
                        tr
                            td 5
                            td Locus
                            td 545
                            td Position in transcript at which SNV occurred.
                        tr
                            td 6
                            td Mutation Type
                            td Missense_Mutation
                            td
                                | Type of mutation that occurred. MAGI understands the following mutation types:
                                ul
                                    li Nonsense_Mutation
                                    li Frame_Shift_Del
                                    li Frame_Shift_Ins
                                    li Missense_Mutation
                                    li Splice_Site
                                    li In_Frame_Del
                                    li In_Frame_Ins
                        tr
                            td 7
                            td Original &nbsp;
                                abbr(title="Amino Acid") AA
                            td E
                            td The amino acid at the locus before the variant occurred.
                        tr
                            td 8
                            td New &nbsp;
                                abbr(title="Amino Acid") AA
                            td Q
                            td The amino acid at the locus after the variant occurred.
                div(class="selectorViewOption cnvUploadSelector")
                    h4 Copy number variants
                    br
                    input(type="file", id="CNAs", name="CNAs")
                    br
                    p <strong>The CNA file is a tab-separated file (*.tsv)</strong> that includes all CNAs for a dataset.
                        | Each row contains the data for a single copy number segment that occurs in one gene in one particular sample.
                    p The columns whose names are starred are required.
                    hr
                    h5 Format example
                    code PIK3CA&#9;TCGA-FD-A3B6&#9;AMP&#9;29843973&#9;30327089<br />
                    code AKT1&#9;TCGA-06-0327 X&#9;--&#9;--&#9;--
                    hr
                    h5 Format description
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Gene*
                            td PIK3CA
                            td Gene name.
                        tr
                            td 2
                            td Sample*
                            td TCGA-FD-A3B6
                            td Sample ID.
                        tr
                            td 3
                            td CNA type
                            td 
                                | Type of CNA that occurred. MAGI understands the following CNA types:
                                ul
                                    li AMP
                                    li DEL

                            td Copy number type.
                        tr
                            td 4
                            td Left
                            td 29843973
                            td Left start-point of segment.
                        tr
                            td 5
                            td Right
                            td 30327089
                            td Right end-point of segment.
                div(class="selectorViewOption otherAberrationUploadSelector")
                    h4 Other Aberrations
                    br
                    input(type="file", id="OtherAberrations", name="OtherAberrations")
                    br
                    p &ldquo;Other Aberrations&rdquo; can be any categorical, binary data. <strong>The &ldquo;Other
                        | Aberrations&rdquo; file is a tab-separated file (*.tsv)</strong> that
                        | contains an association list.
                    p In each row the first column is a sample ID, and ensuing columns list genes that are aberrated.
                    hr
                    h5 Format example
                    code TCGA-BL-A0C8&#9;A1BG&#9;A2M<br />
                    hr
                    h5 Format description
                    br
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Sample ID*
                            td TCGA-FD-A3B6
                            td Sample ID Name
                        tr
                            td >1
                            td Gene Name*
                            td PIK3CA
                            td Aberrated genes
                div(class="selectorViewOption sampleTypeUploadSelector")
                    h4 Sample Types
                    br
                    input(type="file", id="SampleTypes", name="SampleTypes")
                    br
                    p <strong>The Sample Types file is a tab-separated file (*.tsv)</strong> that
                        | includes all samples and their corresponding types for a dataset. Each row
                        | contains the data for a single sample.
                    hr
                    h5 Format example
                    code TCGA-A7-A0CE&#9;BRCA<br />
                    code TCGA-43-6647&#9;LUSC
                    hr
                    h5 Format description
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Sample ID*
                            td TCGA-A7-A0CE
                            td Sample ID
                        tr
                            td 2
                            td Type
                            td BRCA
                            td The cancer type of a sample
                div(class="selectorViewOption dataMatrixUploadSelector")
                    h4 Data Matrix
                    br
                    input(type="file", id="DataMatrix", name="DataMatrix")
                    br
                    p <strong>The Data Matrix file is a tab-separated file (*.tsv)</strong>, such as
                        | <strong>Expression </strong> or <strong>Methylation</strong> data, that
                        | contains a matrix.
                    p The TSV header is formatted such that the first column is empty, and every
                        | additional column gives a Sample ID.
                    p The TSV body (i.e., matrix) is formatted such that each row's first column is
                        | a gene, and every following entry in a row is a cell of the matrix that
                        | refers to a sample/gene pair.
                    hr
                    h5 Format example
                    code &nbsp;&#9;TCGA-BL-A0C8&#9;TCGA-BL-A13I<br />
                    code A1BG&#9;-2.533269&#9;0.106731<br />
                    code A2M 1.03    1.02
                    hr
                    h5 Format description
                    br
                    p Header (row 1)
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Nothing*
                            td N/A
                            td The first column should be empty
                        tr
                            td >1
                            td Sample ID*
                            td TCGA-BL-A0C8-01A-11R-A10U-07
                            td Sample ID Name
                    p Matrix (rows > 1)
                    table(class="table table-bordered table-striped")
                        tr
                            th Column
                            th Name (*=required)
                            th Example
                            th Description
                        tr
                            td 1
                            td Gene*
                            td PIK3CA
                            td Gene name.
                        tr
                            td >1
                            td Value*
                            td 0.106731
                            td A value that corresponds to a gene/sample pair
            div(class="col-sm-2")
                h4 Dataset Name
                p(class="uploadSummaryDatasetName") &nbsp;
                h4 Cancer Type
                p(class="uploadSummaryCancerType") &nbsp;
                h4 Color
                span(class="uploadSummaryDatasetColor" style="width:33px;height:33px;padding:2px;margin:5px 5px 0 0;border:1px solid #eee;border-radius:8px;display:block")
                p(class="uploadSummaryDatasetColorHex") &nbsp;
                h4(class="uploadSummaryGroupNameHeader") Group Name
                p(class="uploadSummaryGroupName") &nbsp;
                hr
                h4 Selected Files
                br
                dl
                    dt SNV
                    dd(class="uploadSummarySNV") &nbsp;
                    dt CNA
                    dd(class="uploadSummaryCNA") &nbsp;
                    dt Other Aberrrations
                    dd(class="uploadSummaryOtherAbberation") &nbsp;
                    dt Data Matrix
                    dd(class="uploadSummaryDataMatrix") &nbsp;
                    dt Sample Types
                    dd(class="uploadSummarySampleTypes") &nbsp;
        br
        div(class="row")
            div(class="text-center")
                button(class="btn btn-default" id="submit") Upload Data
                div(id="status")

block belowTheFold
    script(src='components/jquery/dist/jquery.min.js').
    script(src='components/jquery-form/jquery.form.js')
    script(src="js/dataset-upload-control.js")
    script.
        //- Make a map of cancer abbreviations to colors
        var user_cancers = !{JSON.stringify(user_cancers)},
            tcga_icgc_cancers = !{JSON.stringify(tcga_icgc_cancers)}
            cancerToColor = {};
        user_cancers.forEach(function(c){ cancerToColor[c.abbr] = c.color; });
        tcga_icgc_cancers.forEach(function(c){ cancerToColor[c.abbr] = c.color; });
        //- Set the color chooser to the given color
        function setColor(color){
            $('#db-color').css('background', color)
            $("input#color").val(color);
        }
        //- Give the user a random color
        function randomColor(){
            setColor('#' + Math.random().toString(16).substr(-6));
        }
        //- Update the color as the user changes the color input
        $("input#color").on("change", function(){
            $("span#db-color").css('background', $("input#color").val());
        });
        //- Update the color chooser when the user changes the cancer type
        $("select#cancer").on("change", function(){
            setColor(cancerToColor[$("select#cancer").val()]);
        });
        //- Initialize color with the first cancer
        setColor(cancerToColor[$("select#cancer").val()]);
