extends layout
block body
    br
    div(class="container", id="upload")
        div(class="row")
            h3 Upload your data.
        br
        div(class="row")
            div(class="col-lg-5", style="margin-left:0px;padding-left:0px")
                h4 Step 0: Upload a manifest
                br
                p
                    | You can simplify uploading data to MAGI by creating a 
                    a(href="http://json.org/", target="_new") JSON 
                    | file to represent your data. Upload the JSON file below to populate the forms on this page
                    | with your data. Then all you have to do is click &ldquo;Submit&rdquo; below!
                    | See the 
                    a(href="/manifests") manifests page
                    | &nbsp;for examples and 
                    a(href="/manifests#format") details on formatting
                    |.
                div
                    span(class="btn btn-primary btn-file")
                        | Select manifest file 
                        input(class="btn form-control", type="file", id="manifestFileUpload")
                    abbr(class="filename", style="margin-left:12px")
                    div(id="manifestStatus", style="display:inline;margin-left:12px;")
            div(class="col-lg-7")
                div(class="row")
                    h4 Step 1: Pick a cancer, name, and color.
                    br
                div(class="row")
                    div(class="col-sm-6")
                        label
                            | Cancer type (
                            a(href="/cancers") full list or add another
                            | )
                        br
                        select(class="form-control", id="cancer")
                            optgroup(label="TCGA & ICGC")
                            - for (var i in tcga_icgc_cancers)
                                option(value="#{tcga_icgc_cancers[i].abbr}") #{tcga_icgc_cancers[i].cancer} (#{tcga_icgc_cancers[i].abbr.toUpperCase()})
                            optgroup(label="User-defined")
                            - for (var i in user_cancers )
                                option(value="#{user_cancers[i].abbr}") #{user_cancers[i].cancer} (#{user_cancers[i].abbr.toUpperCase()})
                    div(class="col-sm-6")
                        label Dataset name (e.g. cancer type)
                        input(type="text", id="dataset", name="dataset", class="form-control", placeholder="Enter dataset name.")
                br
                div(class="row")
                    div(class="col-sm-6 noselect")
                        label
                        | <strong>Color</strong> (hex;&nbsp;
                        a(id="randomColor") initialize randomly
                        | )
                        div(style="margin-top:5px")
                            span(id="db-color", style="width:33px;height:33px;padding:2px;margin-right:5px;border:1px solid #eee;border-radius:8px;float:left")
                            input(type="text", id="color", name="color", class="form-control", placeholder="#XXXXXX", style="width:100px", maxlength="7")
                    div(class="col-sm-6", id="groupNameContainer")
                        label
                            | Group name (optional).
                        input(type="text", id="groupName", name="groupName", class="form-control", placeholder="Enter group name (optional).")
        hr
        div(class="row")
            h4 Step 2: Select data to upload.
            br
            p
                | MAGI will allow you to upload whatever data you want, so long as your data adheres to one of our 
                | supported file formats (see below). For example, both methylation and expression data can be uploaded as 
                em &ldquo;Other Aberrations&rdquo;
                | or as 
                em &ldquo;Heatmaps&rdquo;. Any file (or URL) can be 
                a(href="http://www.gzip.org/", target="_new") GZIP-ed
                | .
            br
        div(class="row")
            table(class="table")
                tr(style="background:#333;color:#fff")
                    th Data type and accepted formats
                    th File format
                    th File type
                    th File location
                    th Additional information (case-sensitive)
                tr
                    td
                        b Single nucleotide variants (SNVs)
                        ul
                            li
                                a(href="https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format", target="_new")
                                    | TCGA Mutation Annotation Format (MAF)
                            li
                                a(href="/upload/formats/snvs") MAGI format
                    td
                        select(id="SNVFileFormat", class="form-control")
                            option(value="MAGI") MAGI format
                            option(value="MAF") TCGA MAF format
                    td
                        select(id="SNVFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="SNVFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="SNVFileUpload")
                        br
                        abbr(class="filename")
                    td N/A
                tr
                    td
                        b Copy number aberrations (CNAs)
                        ul
                            li
                                a(href="")
                                    | GISTIC2
                            li
                                a(href="/upload/formats/cnas") MAGI format
                    td
                        select(id="CNAFileFormat", class="form-control")
                            option(value="MAGI") MAGI format
                            option(value="GISTIC2") GISTIC2 format (tar)
                    td
                        select(id="CNAFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="CNAFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="CNAFileUpload")
                        br
                        abbr(class="filename")
                    td N/A
                tr
                    td
                        b Other aberrations
                        ul
                            li
                                a(href="/upload/formats/aberrations") MAGI format
                    td
                        a(href="/upload/formats/aberrations") MAGI format
                    td
                        select(id="OtherAberrationsFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="OtherAberrationsFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="OtherAberrationsFileUpload")
                        br
                        abbr(class="filename")
                    td
                        label Aberrations type (e.g. silenced).
                        input(class="form-control", id="OtherAberrationsType", value="Other")
                tr
                    td
                        b Heatmap (e.g. gene expression)
                        ul
                            li
                                a(href="/upload/formats/data-matrices") MAGI format
                    td
                        a(href="/upload/formats/data-matrices") MAGI format
                    td
                        select(id="DataMatrixFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="DataMatrixFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="DataMatrixFileUpload")
                        br
                        abbr(class="filename")
                    td
                        label Data type
                        br
                        select(class="form-control", style="display:inline", id="DataMatrixName", name="DataMatrixName")
                            option(value="Expression") Gene expression
                            option(value="Methylation") DNA methylation
                            option(value="Other") Other (please specify)
                        input(type="text", id="OtherDataMatrixName", class="form-control", placeholder="Heatmap type.", style="display:none;margin-top:5px")
                tr
                    td
                        b Sample annotations
                        ul
                            li
                                a(href="/upload/formats/sample-annotations") MAGI format
                    td
                        a(href="/upload/formats/sample-annotations") MAGI format
                    td
                        select(id="SampleAnnotationsFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="SampleAnnotationsFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="SampleAnnotationsFileUpload")
                        br
                        abbr(class="filename")
                    td N/A
                tr
                    td
                        b Annotation color file
                        ul
                            li
                                a(href="/upload/formats/annotation-colors") MAGI format
                    td
                        a(href="/upload/formats/annotation-colors") MAGI format
                    td
                        select(id="AnnotationColorsFileSource", class="form-control")
                            option(value="upload") Upload
                            option(value="url") URL
                    td
                        input(class="form-control", type="text", id="AnnotationColorsFileURL", placeholder="Enter URL (including http://).", style="display:none")
                        span(class="btn btn-primary btn-file")
                            | Select file 
                            input(class="btn form-control", type="file", id="AnnotationColorsFileUpload")
                        br
                        abbr(class="filename")
                    td N/A
        div(class="row")
            p(class="bg-danger", style="padding:5px;font-size:110%")
                b
                    span(class="glyphicon glyphicon-warning-sign")
                    | &nbsp; ATTENTION: Before you upload. 
                | By uploading data to MAGI, you agree to our 
                a(href="/terms") terms.
                | &nbsp; All data uploaded to MAGI is private to your account, 
                | and will not be shared with anyone.  However, uploaded data 
                | might be subject to additional restrictions from your institution 
                | or data source.  We cannot assume responsibility for violations 
                | of these restrictions. Please be vigilant in conforming to any policies 
                | that apply to your data. If you are uploading TCGA data, please consult the
                a(href="https://tcga-data.nci.nih.gov/tcga/tcgaDataType.jsp", target="_new")
                    | TCGA's sharing policies
                | &nbsp;for cancer genomics data
                | .  If data access restrictions prevent you from uploading data to the 
                | public webserver, we encourage you to download and create a
                a(href="https://github.com/raphael-group/magi", target="_new") private version of MAGI
                | .
        div(class="row text-center")
            button(id="submit", type="button", class="btn btn-success") Submit
            div(id="status", style="display:inline;margin-left:15px")
        br
        div(class="row", id="output")
        hr
block belowTheFold
    script(src='components/jquery/dist/jquery.min.js').
    script(src='components/jquery-form/jquery.form.js')
    script(src="js/dataset-upload-control.js")
    script.
        //- Make a map of cancer abbreviations to colors
        var user_cancers = !{JSON.stringify(user_cancers)},
            tcga_icgc_cancers = !{JSON.stringify(tcga_icgc_cancers)};